h1 {
    font-family: 'Noto Serif JP', serif;
    font-size: x-large;
    font-weight: 900;
}

p {
    font-family: 'Noto Serif JP', serif;
    font-weight: bold;
}

/* #ryan {
    border-image: url(../assets/images/beach.jpeg);
} */

.jumbotron {
    background-image: url(../assets/images/bgimage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}